<main class="station-detail">
  <header>
    <a routerLink="/">← Retour aux stations</a>

    <p>Bordeaux Mobility</p>
    <h1>Détail de la station</h1>
  </header>

 @if (stationState$ | async; as state) {
  @if (state.status === 'loading') {
    <p>Chargement de la station...</p>
  }

  @if (state.status === 'success') {
    <section>
      <h2>{{ state.station.name }}</h2>
      <p>{{ state.station.city }}</p>
    </section>

    <section aria-labelledby="availability-heading">
      <h2 id="availability-heading">Disponibilité</h2>

      <p>Vélos disponibles : {{ state.station.bikesAvailable }}</p>
      <p>Places disponibles : {{ state.station.docksAvailable }}</p>
      <p>Vélos classiques : {{ state.station.classicBikesAvailable }}</p>
      <p>Vélos électriques : {{ state.station.electricBikesAvailable }}</p>
    </section>

    <section aria-labelledby="information-heading">
      <h2 id="information-heading">Informations</h2>

      <p>
        Statut :
        {{ state.station.status === 'CONNECTEE' ? 'En service' : state.station.status }}
      </p>

      <p>
        Dernière mise à jour :
        {{ state.station.updatedAt | date:"dd/MM/yyyy 'à' HH:mm" }}
      </p>
    </section>
  }

  @if (state.status === 'not-found') {
    <p>Station introuvable.</p>
  }

  @if (state.status === 'error') {
    <p>Impossible de charger la station.</p>
  }
} @else {
    <p>Station introuvable.</p>
  }
</main>