/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html {
  font-family: Arial, sans-serif;
  background: #f7f3ea;
  color: #292e30;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}